.navigation-1{
  text-align: left;
  position: relative;
  color:blue;
  left:50px;
  top:60px;
  background-color: pink;
}
.video-description{
  color:orange;
  font-size: 20px;
}

.video-explanation{
  display:block;
  text-align: center;
  font-size: 50px;
}

.navigation-2{
  text-align: center;
  /* position:relative; */
position: relative;
left:400px;
top:60px;
  color:blue;
  background-color: pink;
  /* margin:580px; */
  /* top:0px; */
}

.navigation-3{
  text-align: center;
  position: relative;
  color:blue;
  /* margin:630px; */
  left:700px;
  top:60px;
  background-color: pink;
}

a {
  font-size:30px;
  right:0px;
}

.video-link{
  font-size:30px;
  color:purple;
}

.About-Video-Header{
  position:relative;
  left:500px;
  /* margin:550px; */
  top:10px;
}

.Clips{

}

.welcome-header{
  position: relative;
  text-align: center;
  font-size: 50px;
  /* left: 200px; */
  /* background-color: white; */
}

.video{
  margin-top: 70px;
}

.download-video{
  position: relative;
  left:500px;
  font-size: 30px;
}

#About-Us-Body{
  background-color: orange;
}
#About-Video-Body{
  background-color: orange;
}
.Ryan-image{
  width:500px;
}

.Covid-Picture{
  width:700px;
  position: relative;
  left:300px;
}

.Hand-sanitizer-picture{
  height:400px;
  width:400px;
}

.Facemask-picture{
  position: relative;
  left:100px;
  height:400px;
  width:400px;
}

.Toilet-paper-picture{
  position: relative;
  left:200px;
  height:400px;
  width:400px
}

.enjoy-picture{
  background-color: orange;
  position: relative;
  left:400px;
  height:400px;
}

body{
  background-color: orange;
}

.contact-us-header{
  position:relative;
  left:300px;
}


/* box code */
/* div{
  background-color:
  border:20px;
  padding:60px;
  margin:30px;
} */
