.navigation-1{
  text-align: left;
  position: relative;
  color:blue;
  left:50px;
  top:60px;
  background-color: lightyellow;
  font-family: Arial ;
}
.video-description{
  text-align: center;
  color:green;
  font-size: 50px;
}

.video-explanation{
  display:block;
  text-align: center;
  font-size: 50px;
}

.navigation-2{
  text-align: center;
position: relative;
left:400px;
top:60px;
  color:blue;
  background-color: lightyellow;
  font-family: Arial ;
}

.navigation-3{
  text-align: right;
  position: relative;
  color:blue;
  left:700px;
  top:60px;
  background-color: lightyellow;
  font-family: Arial ;
}

a {
  font-size:30px;
  right:0px;
}

.video-link{
  font-size:30px;
  color:purple;
}

.About-Video-Header{
  text-align: center;
  position:relative;
  /* margin:550px; */
  top:10px;
  background-color: lightyellow;
}


.welcome-header{
  position: relative;
  text-align: center;
  font-size: 50px;
  font-style: italic;
  color:pink;
  background-color: white;
}

.video{
  margin-top: 70px;
}

.download-video{
  position: relative;
  left:500px;
  font-size: 30px;
}

#About-Us-Body{
  background-color: orange;
}
#About-Video-Body{
  background-color: orange;
}
.Ryan-image{
  position: relative;
  width:600px;
  left:400px;
}

.Tobbi-image{
  position:relative;
  left:500px;
}

.Tona-image{
  position:relative;
  left:550px;
}

.Shamma-image{
  position: relative;
  left:500px;
}

.Covid-Picture{
  width:700px;
  position: relative;
  left:300px;
}

.Hand-sanitizer-picture{
  height:400px;
  width:400px;
}

.Facemask-picture{
  position: relative;
  left:100px;
  height:400px;
  width:400px;
}

.Toilet-paper-picture{
  position: relative;
  left:200px;
  height:400px;
  width:400px
}

.enjoy-picture{
  background-color: orange;
  position: relative;
  left:400px;
  height:400px;
}

body{
  background-color: orange;
}

.contact-us-header{
  text-align: center;
  /* left:300px; */
  background-color: lightyellow;
  /* width:300px; */
}

.contact-info{
position: relative;
text-align: center;
}

.Ryan-self-intro{
  text-align: center;
  background-color: black;
}

.Tona-self-intro{
  text-align: center;
  background-color: black;
}

.Tobbi-self-intro{
  text-align: center;
  background-color: black;
}

.About-Video{
  background-color: lightgreen;
  font-style: italic;
}

.About-Vid-1{
  background-color: lightgreen;
  font-style: italic;
}

.About-Vid-2{
  background-color:lightgreen;
  font-style: italic;
}

.member{
  font-style: oblique;
  text-align: center;
  font-size: 50px;
}

.thumbs-up-down{
  text-align: center;
  color:blue;
  font-size: 30px;
  background-color: lightyellow;
}

/* box code */
/* div{
  background-color:
  border:20px;
  padding:60px;
  margin:30px;
} */
